---
import type { Experience } from "@/data/experience";

type Props = Experience;

const { company, job, location, year, isEmpty } = Astro.props;

const formatTechs = (values: string[]) =>
  values.toString().replaceAll(",", " • ");
---

<>
  {
    isEmpty && (
      <div class="group flex flex-col justify-between gap-2 rounded-md border border-neutral-700  p-4 md:flex-row md:items-center">
        <div class="flex flex-col gap-2 md:flex-row md:items-center md:gap-4">
          <p class="text-lg text-neutral-100">{company}</p>
          <p>{formatTechs(job)}</p>
        </div>

        <p class="w-fit rounded-md bg-blue-600 text-white px-4 py-1">coming soon</p>
      </div>
    )
  }

  {
    !isEmpty && (
      // <a
      //   class="group flex cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-400 shadow-xl p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center"
      //   href={`/experience/${job}`}
      //   target="_blank"
      //   rel="noreferrer"
      // >
      <div class="gap-2 rounded-md border border-neutral-400 p-4">
        <div class="flex justify-between items-center flex-wrap mb-4">
          <p class="text-xl text-neutral-100">{company}</p>
          <p class="text-sm text-neutral-400">{year}</p>
          </div>
          <p class="text-md text-neutral-100 mb-1">{formatTechs(job)}</p>
          <p class="text-xs text-blue-400">{location}</p>
      </div>

      // </a>
    )
  }
</>
